{% extends '_base.html' %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="form controls col-md-12">
                <h2>Customize your graphic:</h2>
                <div class="filters">
                    <div class="form-group">
                        <label for="aspect-ratio">Select size:</label>
                        <div id="aspect-ratio" class="btn-group">
                            <button id="twitter" class="btn active">Twitter</button>
                            <button id="facebook" class="btn">Facebook</button>
                            <button id="square" class="btn">Square</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="filter_change-brand">Choose Brand:</label>
                        <select class="filter_change-brand">
                            <option id="slate" value="Slate" selected>Slate</option>
                            <option id="amicus" value="Amicus">Amicus</option>
                            <option id="better-life-lab" value="Better Life Lab">Better Life Lab</option>
                            <option id="culture-gabfest" value="Culture Gabfest">Culture Gabfest</option>
                            <option id="dear-prudence" value="Dear Prudence">Dear Prudence</option>
                            <option id="decoder-ring" value="Decoder Ring">Decoder Ring</option>
                            <option id="el-gabfest" value="El Gabfest en Español">El Gabfest en Español</option>
                            <option id="good-fight" value="The Good Fight">The Good Fight</option>
                            <option id="hang-up-and-listen" value="Hang Up and Listen">Hang Up and Listen</option>
                            <option id="hit-parade" value="Hit Parade">Hit Parade</option>
                            <option id="i-have-to-ask" value="I Have to Ask">I Have to Ask</option>
                            <option id="if-then" value="If Then">If Then</option>
                            <option id="lend-me-your-ears" value="Lend Me Your Ears">Lend Me Your Ears</option>
                            <option id="lexicon-valley" value="Lexicon Valley">Lexicon Valley</option>
                            <option id="live-at-politics-and-prose" value="Live at Politics & Prose">Live at Politics & Prose</option>
                            <option id="mom-and-dad-are-fighting" value="Mom and Dad are Fighting">Mom and Dad are Fighting</option>
                            <option id="money" value="Money">Money</option>
                            <option id="outward" value="Outward">Outward</option>
                            <option id="political-gabfest" value="Political Gabfest">Political Gabfest</option>
                            <option id="secret-history-of-the-future" value="The Secret History of the Future">The Secret History of the Future</option>
                            <option id="slow-burn" value="Slow Burn">Slow Burn</option>
                            <option id="spoiler-specials" value="Spoiler Specials">Spoiler Specials</option>
                            <option id="spoken-edition" value="Spoken Edition">Spoken Edition</option>
                            <option id="studio-360" value="Studio 360">Studio 360</option>
                            <option id="the-gist" value="The Gist">The Gist</option>
                            <option id="the-waves" value="The Waves">The Waves</option>
                            <option id="trumpcast" value="Trumpcast">Trumpcast</option>
                            <option id="upon-further-review" value="Upon Further Review">Upon Further Review</option>
                            <option id="whistlestop" value="Whistlestop">Whistlestop</option>
                            <option id="women-in-charge" value="Women in Charge">Women in Charge</option>
                            <option id="working" value="Working">Working</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filter_change-color">Choose Background Color:</label>
                        <select class="filter_change-color">
                            <option id="white">White</option>
                            <option id="raisin">Raisin</option>
                            <option id="plum">Plum</option>
                            <option id="brand-color" disabled>Brand Color</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fontsize">Font size</label>
                        <input id="fontsize" name="fontsize" type="range" min="24" max="120" value="90">
                    </div>
                    <div class="form-group">
                        <label for="filter_change-style">Quote Style</label>
                        <select class="filter_change-style">
                            <option id="quotes">Quotes</option>
                            <option id="brackets">Brackets</option>
                            <option id="none">None</option>
                        </select>
                    </div>
                    <!--<div class="form-group">
                        <label for="show">Attribution <span class="help">(e.g. Morning Edition)</span></label>
                        <input id="show" class="form-control" name="fontsize" type="text">
                    </div>--> 
                    <div class="form-group">
                        <button id="save" class="btn btn-lg btn-primary">Save image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="poster-wrapper">
        <div class="social-graphic-quote poster">
            <!-- quote --> 
            <blockquote>
                <p class="js_quotation-marks"></p>
            </blockquote>

            <!-- attribution --> 
            <p class="source"></p>
            <p class="podcast-name"></p>

            <!-- logo --> 
            <div class="logo-wrapper">
                <img src="img/brand/slate.png" />
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery %}
{% if DEPLOYMENT_TARGET == 'electron' %}
<script type="text/javascript">
    window.$ = window.jQuery = require('../js/lib/jquery.js')
</script>
{% else %}
{{ JS.push('js/lib/jquery.js') }}
{% endif %}
{% endblock jquery %}


{% block extra_foot_js %}
{{ JS.push('js/lib/html2canvas.js') }}
{{ JS.push('js/lib/medium-editor.min.js') }}
{{ JS.push('js/quotable.js') }}
{{ JS.render('js/quotable.min.js') }}
{% endblock extra_foot_js %}
