{% extends '_base.html' %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="form controls col-md-12">
                <h2>Customize your graphic:</h2>
                <div class="controls-wrapper filters">
                    <div class="form-group">
                        <label for="aspect-ratio">Select size:</label>
                        <div id="aspect-ratio" class="btn-group">
                            <button id="twitter" class="btn btn-primary active">Twitter</button>
                            <button id="facebook" class="btn btn-primary">Facebook</button>
                            <button id="square" class="btn btn-primary">Square</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="filter_change-brand">Choose Brand:</label>
                        <select class="filter_change-brand">
                            <option id="slate">Slate</option>
                            <option id="slow-burn">Slow Burn</option>
                            <option id="trumpcast">Trumpcast</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filter_change-color">Choose Background Color:</label>
                        <select class="filter_change-color">
                            <option id="white">White</option>
                            <option id="raisin">Raisin</option>
                            <option id="plum">Plum</option>
                            <option id="brand-color" disabled>Brand Color</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fontsize">Font size</label>
                        <input id="fontsize" name="fontsize" type="range" min="24" max="120" value="90">
                    </div>
                    <!--<div class="form-group">
                        <label for="quote">Quotation marks</label>
                        <div id="quote" class="btn-group">
                            <button class="btn btn-primary active">Show</button>
                            <button class="btn btn-primary">Hide</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="show">Attribution <span class="help">(e.g. Morning Edition)</span></label>
                        <input id="show" class="form-control" name="fontsize" type="text">
                    </div>--> 
                    <div class="form-group">
                        <button id="save" class="btn btn-lg btn-primary">Save image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="poster-wrapper">
        <div class="social-graphic-quote poster quote poster-news">
            <span class="left-quote">&ldquo;</span>
            <blockquote><p></p></blockquote>

            <p class="source"></p>
            <p class="show-credit"></p>

            <div class="logo-wrapper">
                <img src="../img/brand/slate.png" />
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery %}
{% if DEPLOYMENT_TARGET == 'electron' %}
<script type="text/javascript">
    window.$ = window.jQuery = require('../js/lib/jquery.js')
</script>
{% else %}
{{ JS.push('js/lib/jquery.js') }}
{% endif %}
{% endblock jquery %}


{% block extra_foot_js %}
{{ JS.push('js/lib/html2canvas.js') }}
{{ JS.push('js/lib/medium-editor.min.js') }}
{{ JS.push('js/quotable.js') }}
{{ JS.render('js/quotable.min.js') }}
{% endblock extra_foot_js %}
